* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: steelblue
}

.container {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, 0);
  padding: 1rem;
  margin-top: 1rem;
  color : greenyellow;
}

.draggable { 
  height: 238px;
  width: 240px;
  justify-content: center
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background-color: white;
  border: 3px solid black;
  cursor:move;
  color: grey;
  margin-top: 1rem;

}